
.ahover:hover
{
    background-color: #462f18;
    color: white;
    
}
.ahover{
    padding: 10px 8px;
}
.color_bg{
    /* background-color: rgb(204, 133, 133);
     */
     background-color: #d8ad83;
}
.main{
    margin-top: 60px;
    padding-top: 300px;
    text-align: center;
    font-family: Lucida;
}

.shadow{
    border-radius:5px;
}
.main-text{
    color: #d6d5d4;
    margin-top: 200px;
    margin-left: 20px;
    font-style: italic;
    font-family: Indie Flower;
}
.main-text-paragraph{
    font-size: 35px;
}

.button-group{
    margin-left: 20px;
}
.btn-ani:hover{
    background-color: #d8ad83;
    color: #fff;
    border: 1px solid #d8ad83;
}